@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #606060;
}
body header {
  background: #292929;
  overflow: hidden;
}
body header .center-block-main {
  max-width: 990px;
  margin: 0 auto;
}
body header .center-block-main .logo {
  float: left;
  margin-top: 45px;
}
body header .center-block-main .menu {
  float: right;
}
body header .center-block-main .menu li {
  float: left;
  font-weight: 600;
}
body header .center-block-main .menu li a {
  color: white;
  text-decoration: none;
  padding: 50px 35px;
  display: block;
  /* ссылка - строчный элемент. Для того, чтобы применились все paddings к ней, надо назначить display:block*/
  border-bottom: #292929 3px solid;
}
body header .center-block-main .menu li a:hover {
  color: #58c93a;
  border-bottom: #58c93a 3px solid;
}
body .center-block-main {
  max-width: 990px;
  margin: 0 auto;
}
body .center-block-main.content {
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
}
body .center-block-main main {
  float: left;
  margin-top: 70px;
  width: 62.5%;
}
body .center-block-main main article {
  margin-bottom: 70px;
}
body .center-block-main main article > header {
  font-size: 0;
  background: none;
  /*но лучше было бы просто в хедер основной добавить класс*/
  margin-bottom: 10px;
}
body .center-block-main main article h2 {
  font-size: 1.75em;
  /* 1 em = 16 шрифт*/
  font-weight: bold;
  text-transform: uppercase;
  /* все буквы большие*/
  line-height: 1.1;
  /* межстрочный интервал*/
  margin: 0px 0px 40px 20px;
  color: #4f4e4e;
}
body .center-block-main main article p {
  margin: 0 0 20px 20px;
  line-height: 1.3;
}
body .center-block-main main article a.more {
  border: 2px solid #c2c2c2;
  padding: 7px 20px;
  display: inline-block;
  border-radius: 20px;
  color: #c2c2c2;
}
body .center-block-main main article a.more:hover {
  color: #339933;
  border-color: #339933;
  text-decoration: underline;
}
body .center-block-main aside {
  margin-top: 70px;
  float: right;
  width: 28.3%;
}
body .center-block-main aside .widget {
  margin-bottom: 50px;
  /* чтобы только к тегу нав в классе виджет*/
}
body .center-block-main aside .widget h2 {
  text-transform: uppercase;
  color: #6c6969;
  background: #f8f8f8;
  border-left: 3px solid #58c93a;
  padding: 10px 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
body .center-block-main aside .widget .search {
  color: #b9b9b9;
  font-size: 0.75em;
  width: 100%;
  border: 1px solid #e1e0e0;
  padding: 15px 20px;
  border-right: none;
}
body .center-block-main aside .widget > nav {
  margin-left: 20px;
}
body .center-block-main aside .widget .subscribe {
  position: relative;
  width: 100%;
  height: 48px;
}
body .center-block-main aside .widget .subscribe-input {
  font-size: 0.75em;
  color: #b9b9b9;
  width: 100%;
  padding: 15px 50px 15px 20px;
  border: 1px solid #e1e0e0;
  box-sizing: border-box;
  /* для нашего блока ширина сразу включает и бордер и паддинг*/
  position: absolute;
  border-right: none;
}
body .center-block-main aside .widget .subscribe-image {
  position: absolute;
  right: 20px;
  top: 12px;
}
body .center-block-main .pager {
  border-top: 1px solid #b9b9b9;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 30px;
}
body .center-block-main .pager a {
  color: #818181;
  text-decoration: none;
}
body .center-block-main .pager a:hover {
  text-decoration: underline;
}
body .center-block-main .pager .previous-link {
  float: left;
}
body .center-block-main .pager .next-link {
  float: right;
}
body footer {
  background: #f8f8f8;
  border-top: 1px solid #e1e0e0;
  text-align: center;
  font-size: 0.8125em;
  padding: 50px 0;
}
body footer img {
  margin-bottom: 20px auto;
}/*# sourceMappingURL=2.css.map */